{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}
<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-warning">SUDUR MART</h1>
      <p class="text-Info"> Hello......! hope you are good ..and thankyou for visiting our onlinestore this is our chance to prove you that
      we could provide your product in your home by one click..so our main motive was to provide home service
      we deliver your product as your want..and the product price as same as in your market price..so please visit this site we provide all kind of product clothing item food fastfood
      ..please orde</p>
      <p><a class="btn btn-warning" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container text-warning">
    <div class="row">
      <div class="col-md-4">
        <h2>MEDIA PARTNER</h2>
        <p class="text-Info">sudur mat is an first ecomerse website in nepal far western devlopment region i hope by this website
        people should get more facilated our main aim was to provide people want in their home by one click </p>
        <p><a class="btn btn-outline-warning" href="https://dautarimedia.com/" role="button">DAUTARIMEDIA.COM »</a></p>
      </div>  <br>
      <br>
     <div class="col-md-4">
        <h2>SUDURMART</h2>
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!
1m12!1m3!1d56096.8575916316!2d81.07041075142206!3d28.50803506144539!2m3!1f0!2f0!
3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39a20c3137
c6209b%3A0xef662ab7d48804c8!2sTikapur%2010901!5e0!3m2!1
sen!2snp!4v1642586128468!5m2!1sen!2snp" width="400" height="250" style="border:
0;" allowfullscreen="" loading="lazy"></iframe></div><br>
    <!-- Example row of columns -->
    </div>
  </div> <!-- /container -->
</main>
{% endblock %}
